__pycache__
instance
.cache
.pytest_cache
htmlcov
venv
.idea
.coverage
*.tmp
*.temp
_NUKE_
_OLD_
_temp_*.*
*.swp
*~
.flaskenv
!.flaskenv.sample
logs/


*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

venv
app.db
microblog.log*